  @import url('https://fonts.googleapis.com/css2?family=Open Sans:wght@600&family=Roboto&display=swap')
  :root {
    background-color:aqua;  
  }

  h1{
    position: absolute;
    top: 140px;
    text-align: center;

  }

h2{
    position: absolute;

}

.hero img {
    display: block;
    width: 100%;
    height: auto;

}

article{
    position: absolute;
    background-color:black;
    opacity: 1;
}

img{
    float: right;

}