@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

  
  :root{
    --background-color: aqua;
  
  }
  * {
    font-family: Roboto, serif;
  }
body{
  width: 900px;
  margin: 0 auto;
}
  h1{
    position: absolute;
    top: 20px;
    right: 0;
    left: 0;
    text-align: center;
  

  }



.hero img {
    
    width: 100%;
    height: auto;

}



.hero article img{
    float: right;
    width: 100px;
    padding: 1rem;

}

.hero{
  position: relative;
}

.hero article{
  position: absolute;
  background-color: rgba(240, 255, 255, .80);
    top: 100px;
    right: 5px;
    left: 5px;
    text-align: center;
}

header{
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 200px auto;
  align-items: center;
  border-bottom: 1px solid #ccc;
  max-width: 1000px;


  
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  
  
}

figure {
  margin: 0;
  padding: 2px;
}

figure img{
  max-width: 100%;

}

figcaption {
  text-align: center;
}

.logo img {
  margin: 0 0.25rem 0 1rem;
  width: 64px;
  height: auto;
}

h1 {
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;

}

nav {
  text-align: right;
}

.navigation {
  display: flex;
  list-style: none;
  justify-content: space-around;
}


.navigation a {
  display: block;
  color: navy;
  padding: 20px;
  text-decoration: none;

}

.navigation a:hover {
  color: tomato;
}

section {
  grid-column: 1/4;
}

h2 {
  text-align: center;
}
.section {
display: grid;

justify-content: left;
align-items: center;

}

img {
  display: flex;
  justify-content:space-around;
  align-items: center;
  width:  200px;

}
div .grid {
  display: grid;

}
footer {
  display: grid;
  grid-template-columns: 75% 25%;
  justify-content: space-around;

 
  
}
nav {
  display: flex;
  align-items: end;
 

}

nav a img {
  width: 50%;
  padding: 1rem;
}

h3 {
  text-align: left;
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
}

.grid-contact {
  display: grid;
  display: flex;
  grid-template-columns: repeat(3, 1fr);

  justify-content: space-around;
  align-items: center;
  


}

.grid-contact img {

  width: 800px;
  height: 250px;
  padding: 2px;

}
.grid-contact figcaption {
  text-align: center;
  
}

.company-info {
  text-align: left;
  padding: 2px;
}

form {
  width: 650px;
  margin: 1rem;
  padding: 2px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5;
  background-color: #eee;
  display: grid;
 
}
fieldset {
  display: grid;
  grid-gap: .5rem;
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

legend {
  padding: 0.5rem;
  color: navy;
  font-size: 1.2rem;
}
label {
  text-align: left;
  padding-right: 2rem;
}

button {
  margin: 1rem;
  background-color: navy;
  color: #fff;
  border: none;
  border-radius: .5rem;
  padding: .75rem;
  font-size: 3.2;
}