  @import url('https://fonts.googleapis.com/css2?family=Open Sans:wght@600&family=Roboto&display=swap')
  
  :root{
    --background-color: aqua;
  }
body{
  width: 900px;
  margin: 0 auto;
}
  h1{
    position: absolute;
    top: 20px;
    right: 0;
    left: 0;
    text-align: center;
  

  }



.hero img {
    
    width: 100%;
    height: auto;

}



.hero article img{
    float: right;
    width: 100px;
    padding: 1rem;

}

.hero{
  position: relative;
}

.hero article{
  position: absolute;
  background-color: rgba(240, 255, 255, .80);
    top: 100px;
    right: 5px;
    left: 5px;
    text-align: center;
}